#enter secrets here
embase_api_key = "<your-embase-api-key>"
PM_Key = "<your-pm-api-key>"
ncbi_email = "<your-pm-email>"
[
azure
]
client_id = "<your-azure-client-id>"
tenant_id = "<your-azure-tenant-id>"
client_secret = "<your-azure-client-secret>"
redirect_uri = "<your-app-url>" 